.detalle {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
}

.trailer {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    border-radius: 0.5em;
    overflow: hidden;
}

.trailer iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.trailer,
.informacion {
    width: 50%;
}

.informacion {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.informacion a {
    color: var(--var_colorTextoGeneral);
    text-decoration: none;
}

.seleccion {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
}
.botones{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}
.similares {
    margin-top: 2em;
    text-align: center;
}
.card_peliculaYserie{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.similares .contenedor-galeria {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.animacion{
    opacity: 1;
}
.similares .contenedor-galeria img {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
}
.carrousel-indicador{
    display: flex;
    justify-content: center;
    gap: 0.7em;
    margin-top: 1em;
}
.btn-indicador{
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    border: none;
    background: #888;
    opacity: 0.5;
    cursor: pointer;
    transition: background 0.2s, opasity 0.2s;
    padding: 0;
}
.btn-indicador.activo{
    background: var(--var_colorFondoBotones, #205BBA);
    opacity: 1;
}

.corazon {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    fill: #bbb;
    cursor: pointer;
    transition: fill 0.3s;
    z-index: 10;
}
.corazon.favorito {
    fill: #e53935;
}

@media (max-width: 1065px) {
    .seleccion {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }

    .seleccion label,
    .seleccion select {
        width: 100%;
    }

    .informacion,
    .trailer {
        width: 100%;
    }

    .detalle {
        flex-direction: column;
        align-items: center;
    }
}