.contenedor_general {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contenedor_imagen {
    width: 100%;
    height: 250px;
  }
  
  .image_banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contenedor_formulario {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .tituloInicio {
    text-align: center;
    font-size: 1.5em;
  }