.filtros {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 80%;
  margin: auto;
  align-items: center;
  text-align: center;
}

.filtro_categoria,
.buscador {
  width: 100%;
}

.contenedor-galeria {
  width: 90%;
  margin: auto;
  display: grid;
 grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 1em;
}

.card_peliculaYserie img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0.5em;
  cursor: pointer;
}

.subtitulo {
  text-align: center;
}

@media (max-width: 1200px) {
  .contenedor-galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .contenedor-galeria {
    grid-template-columns: repeat(2, 1fr);
  }

  .filtros {

    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .contenedor-galeria {
    grid-template-columns: 1fr;
  }
}

<section class="section_catalogo">
    <h2 class="subtitulo">Películas</h2>
    <section class="filtros">
        <div class="filtro_categoria">
            <label for="categoria">Filtrar por categoría:</label>
            <select id="categoria" class="input">
                <option value="">Todas</option>
                <option value="accion">Acción</option>
                <option value="comedia">Comedia</option>
                <option value="drama">Drama</option>
                <option value="terror">Terror</option>
                <option value="romance">Romance</option>
            </select>
        </div>
        <div class="buscador">
            <form id="form-buscar" autocomplete="off">
                <input type="text" id="buscar" placeholder="Buscar...">
                <button type="submit" class="btn">Buscar</button>
            </form>
        </div>
    </section>
</section>
<div class="contenedor-galeria" id="galeria"></div>