.contenedor_principal {
  height: calc(100vh - 4em);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.section_foto,
.section_usuario,
.section_pago {
  width: calc(100vw / 4);
  height: 80%;
}

.grupo_form_usuario,
.grupo_form_pago {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  gap: 0.5em;
}

.section_foto,
.section_pago,
.section_usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil_img {
  border-radius: 50%;
  height: 50%;
  width: auto;
}

@media (max-width: 48em) {
  .contenedor_principal {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  .section_foto,
  .section_usuario,
  .section_pago {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
  }

  .section_pago {
    margin-bottom: 0;
  }

  .perfil_img {
    height: 8em;
    width: auto;
  }

  /* Aquí arreglamos que los labels e inputs no se junten */
  .grupo_form_usuario,
  .grupo_form_pago {
    flex-direction: column; /* apilar verticalmente */
    align-items: flex-start; /* alinear a la izquierda */
    gap: 0.5em; /* espacio entre label e input */
  }

  .grupo_form_usuario label,
  .grupo_form_pago label {
    width: 100%; /* que el label ocupe todo el ancho */
  }

  .grupo_form_usuario input,
  .grupo_form_pago input {
    width: 100%; /* inputs a full ancho también */
  }
}
