.contenedor_principal {
  min-height: calc(100vh - 4em);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 4em;
}

.section_foto {
  flex: 0 0 300px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_usuario,
.section_pago {
  flex: 1 1 350px;
  max-width: 400px;
}

.grupo_form_usuario,
.grupo_form_pago {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2em;
  gap: 0.5em;
}

.section_foto,
.section_pago,
.section_usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil_img {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  object-fit: cover;
  max-width: 100%;
}

.form_usuario,
.form_pago {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grupo_form_usuario input {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 48em) {
  .contenedor_principal {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  .section_foto,
  .section_usuario,
  .section_pago {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
  }

  .section_pago {
    margin-bottom: 0;
  }

  .perfil_img {
    height: 8em;
    width: auto;
  }

  
  .grupo_form_usuario,
  .grupo_form_pago {
    flex-direction: column; 
    align-items: flex-start; 
    gap: 0.5em; 
  }

  .grupo_form_usuario label,
  .grupo_form_pago label {
    width: 100%; 
  }

  .grupo_form_usuario input,
  .grupo_form_pago input {
    width: 100%; 
  }
}

.lista-favoritos {
    list-style: none;
    padding: 0;
    margin-bottom: 2em;
}
.lista-favoritos li {
    position: relative;
    padding-right: 2.5em;
    min-height: 2.2em;
    display: flex;
    align-items: center;
}
.fav-link {
    color: #205BBA;
    text-decoration: none;
    font-weight: 500;
}
.corazon {
    position: absolute;
    top: 50%;
    right: 0.5em;
    width: 2em;
    height: 2em;
    fill: #bbb;
    cursor: pointer;
    transition: fill 0.3s;
    z-index: 10;
    transform: translateY(-50%);
}
.corazon.favorito {
    fill: #e53935;
}