.contenedor_principal {
    height: calc(100vh - 4em);
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: row;
    flex-wrap: wrap;
}

.section_foto,
.section_usuario,
.section_pago {
    width: calc(100vw/4);
    height: 80%;
    border: 2px solid black;
}


.section_foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil_img {
    border-radius: 50%;
    height: 50%;
    width: auto;
}

@media (max-width: 768px) {
  .contenedor_principal {
    flex-direction: column;
    align-items: center; /* centra horizontalmente las secciones */
  }

  .section_foto,
  .section_usuario,
  .section_pago {
    width: 80vw;   /* 80% del ancho de la pantalla */
    height: auto;  /* para que se ajusten al contenido */
    margin-bottom: 1rem; /* separación entre secciones */
  }
}